<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.veed.oduchantingapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".PracticeActvity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_practice_actvity" />
        <activity
            android:name=".AddNewLineActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_add_new_line" />
        <activity android:name=".NewChantActivity" />
        <activity
            android:name=".SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/LightTheme.SearchActivity" />
        <activity
            android:name=".UploadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ChantCoverActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".EditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".EditLineActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_line" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".LibrariesActivity"
            android:label="@string/title_activity_libraries"
            android:theme="@style/LightTheme"></activity>


        <receiver android:name=".Utils.NotificationAlarmReceiver" />
        <receiver
            android:name=".Utils.AlarmBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>



    </application>

</manifest>